{% load static %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admission system</title>

  {% include 'components/css.html' %}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  {% include 'components/navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->

  {% include 'components/sidebar.html' %}

  <!-- Main content -->
  {% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <div class="content-header p-4">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                <h2 class="m-0">Course preference selection</h2>
                </div>
            </div>
            <div class="callout callout-info">
                <h5><i class="icon fas fa-info"></i> Courses and Choices Selection</h5>
    
                <p> <strong>Select your preferred courses by priority. You will be required to select 6 courses from available list in each priority choice.</strong></p> <hr>
                <p><strong>You should be ready to be selected in one of the 6 choices of your preference, since no change of programme will be entertained once the admission has been offered.</strong></p>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-10">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Courses and Choices Selection</h3>
                      </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                      <div class="col-md-6">
                        <form>
                          <div class="card-body">
                            <div class="form-group">
                              <label>Course choice 1</label>
                              <select class="form-control select2" style="width: 100%;">
                                {% for course in courses %}
                                <option>{{ course.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Course choice 2</label>
                              <select class="form-control select2" style="width: 100%;">
                                {% for course in courses %}
                                <option value="{{ course.id }}">{{ course.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Course choice 3</label>
                              <select class="form-control select2" style="width: 100%;">
                                {% for course in courses %}
                                <option>{{ course.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-6">
                        <form>
                          <div class="card-body">
                            <div class="form-group">
                              <label>Course choice 4</label>
                              <select class="form-control select2" style="width: 100%;">
                                {% for course in courses %}
                                <option>{{ course.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Course choice 5</label>
                              <select class="form-control select2" style="width: 100%;">
                                {% for course in courses %}
                                <option>{{ course.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Course choice 6</label>
                              <select class="form-control select2" style="width: 100%;">
                                {% for course in courses %}
                                <option>{{ course.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            
                          </div>
                          <!-- /.card-body -->
                        </form>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>

</div>
{% endblock content %}
    <!-- /.content -->
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

{% include 'components/js.html' %}
</body>
</html>
