{% load static %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admission system</title>

  {% include 'components/css.html' %}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  {% include 'components/navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->

  {% include 'components/sidebar.html' %}

  <!-- Main content -->
  {% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <div class="content-header">
        <!-- container-fluid -->
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h2 class="m-0">Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
              </div><!-- /.col -->
            </div>
            <hr><!-- /.row -->
            <div class="col-md-6">
              <h2 class="m-0">Academic Programs Requirements:</h2>
            </div>
          </div>

          <div class="p-4">
            <div class="callout callout-info">
              <h5><i class="icon fas fa-info"></i> Minimum Entry Qualifications for Ordinary Diploma (NTA LEVEL4-6) Programmes</h5>
  
              <p>In order to qualify for admission into <strong>Ordinary Diploma (NTA LEVEL4-6) Programmes</strong> a candidate must be a holder of a <strong>Certificate of Secondary Education (CSEE)</strong> with at least four (4) passes (i.e. D grade or higher) in <strong>Physics/Engineering Science, Mathematics and Chemistry.</strong></p>
              <hr>
              <p>For admission into the Ordinary Diploma (NTA LEVEL 4-6) in <strong> Science and Laboratory Technology, Biomedical Equipment Engineering, Food Science and Technology and Biotechnology</strong>  applicants must be a holder of a Certificate of Secondary Education (CSEE) with D grade or higher in <strong>Physics/Engineering Science, Mathematics, Chemistry and Biology.</strong></p>
            </div>
          </div>

    
      </div>

    </div>
    {% endblock content %}
    <!-- /.content -->
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

{% include 'components/js.html' %}
</body>
</html>
