{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static 'images/logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">DIT Admission</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'images/user-1.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        {% if request.user.is_authenticated %}
          <div class="info">
            <a href="#" class="d-block">{{ user.first_name }} {{user.last_name}} </a>
          </div>
        {% endif %}
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'studentPage' %}" class="nav-link">
              <img class="mr-2" src="https://img.icons8.com/office/16/000000/courses.png"/>
              <p>
                Academic Programs
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <img class="mr-1" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/20/000000/external-recommendation-literature-flaticons-lineal-color-flat-icons-2.png"/>
              <p>
                <i class="right fas fa-angle-left"></i>
                Recommendations
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'course_rating' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Course Rating</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'course_recommend' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Recommendation</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <img class="mr-1" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/20/000000/external-archive-literature-flaticons-lineal-color-flat-icons-3.png"/>
              <p>
                My Application
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'personal_info' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Personal Information</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'preference' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Program Preferences</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <img class="mr-1" src="https://img.icons8.com/office/20/000000/data-pending.png"/>
              <p>
                Application Status
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <img class="mr-1" src="https://img.icons8.com/office/20/000000/test-account.png"/>
              <p>
                My Profile
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>